*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
    
}
p{
    color: white;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #242B33;
    display: flex;
    align-items: center;
}

nav .nav__content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
nav .nav__content img{
    width: 135px;
    height: 65px;
}
nav .nav__content ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav .nav__content ul li{
    font-size: 14px;
    color: #fff;
    margin: 0 20px;
    cursor: pointer;
}
nav .nav__content ul li:hover{
    color:#d4c17f;

}
.hero{
    width: 100%;
    height: 800px;
background-image: url("../assets/images/hero_image.png");
/* background-repeat: no-repeat; */
background-size: cover;
background-position:center center;
padding-top: 160px;
}
.hero h1{
    color:#d4c17f;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 550px;
    margin:0 auto;
    font-family: 'Playfair Display', serif;
}
.hero .hero__mouse_icon{
    display: block;
    margin: 80px auto 0;
    width: 24px;
    height: 40px;
}
.hero__info{
    width: 550px;
    margin: 200px auto 0;
    display: flex;
    justify-content: space-between;
}

.hero__info div img{
    width: 21px;
    height: 21px;
    object-fit: contain;
}

.hero__info div p{
    font-size: 18px;
    color: #fff;
}

.hero__info div{
    display: flex;
    align-items: center;
}

.hero__info div:first-child img{
    margin-right: 5px;
}
.hero__info div:last-child img{
    margin-right: 5px;
}
main{
    height: 100vh;
    background-color: #242B33;
}
.features{
    width: 830px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.features__item{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .features__item img{
        max-width: 100px;
        width: auto;
        height: 80px;
        object-fit: contain;
    }
.features__item p{
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.content{
    background: #242B33;
}
.content__title h1{
    color: #D4C17F;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 120px;
    margin-left: 20%;
    margin-bottom: 50px;
}

.loft{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 20% 0 20%;
}

.loftrooms{
    display: flex;
    width: 46%;
    margin: 0 30px 30px 0;
    justify-content: center;
    position: relative;
}

.loft-descr{
    position: absolute;
    top: 90%;
    left: 10%;
}


.loft-img{
    max-width: 100%;
    height: 100%;
  }

.loft-img img{
    max-width: 100%;
    max-height: 320px;
}

footer {
    padding-top: 50px;
    background-image: url('../assets/images/FooterBg.png');
    padding-left: 20%;
}

.footer__title p{
    color: #D4C17F;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

.footer__content{
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.footer__forms{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.forms{
    display: flex;
}

.forms__2{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.forms__2 .form{
    display: flex;
    width: 50%;
    justify-content: center;
}

.form p{
    font-size: 13px;
    text-align: center;
    width: 50%;
    line-height: 16px;
}

.form a{
    background: #D4C17F;
    text-decoration: none;
    color: #fff;
    width: 50%;
}

.forms .form{
    background: #BEBEBE;
    opacity: 0.2;
    margin-right: 30px;
    margin-bottom: 35px;
}
.form input::placeholder{
    text-align: center;
}
.form, .form input{
    width: 100%;
}
.footer__forms > .form{
    display: flex;
}

.footer-descr{
    width: 300px;
}

.footer-descr p{
    width: 80%;
    line-height: 24px;
    font-size: 14px;
}